.folder-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.folder-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background: url('img/文件.png') no-repeat center;
    background-size: contain;
}

.folder-details {
    flex-grow: 1;
}

.folder-name {
    font-weight: bold;
}

.folder-info {
    font-size: 14px;
}

.folder-card:hover {
    background-color: #4aeecb;
}

.clickable-text {
    font-weight: bold;
	padding: 30px;
	background-color: #9799ff;
	border-radius: 10px;
}

/* 当视口宽度小于600px时，应用以下样式 */
@media (max-width: 600px) {
    .folder-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .folder-icon {
        margin-bottom: 10px;
    }

    .clickable-text {
        padding: 15px;
    }
}